.articles {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* ARTICLE CARDS */

.articles__article-card {
  height: 400px;
  width: 325px;
  cursor: pointer;
  margin-bottom: 40px;
  transition: transform 0.2s;
  display: inline-block;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 6px #ccc; /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 5px 6px #ccc;
  grid-column-start: 1;
}

.articles__article-card:hover {
  box-sizing: border-box;
  transform: scale(1.1);
  box-shadow: 50px black;
  transition: transform 0.7s;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 6px #ccc; /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 5px 6px #ccc;
}

/* ARTICLE CARDS - TOP */

.articles__article-card__top {
  background-size: cover;
  height: 60%;
  position: relative;
}

.articles__article-card__top__article-cat {
  background: white;
  padding: 5px 10px;
  border-radius: 6px;
  color: black;
  position: absolute;
  border: 2px solid;
  border-color: cornflowerblue;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 200;
  bottom: 90px;
  margin-left: 35px;
  left: 16px;
}

/* ARTICLE CARDS - BOTTOM */

.articles__article-card__bottom__date-title {
  padding: 15px;
}

.articles__article-card__bottom__date-title__date {
  font-size: 13px;
  color: #99a7b0;
  font-family: "Libre Franklin", sans-serif;
  align-items: center;
  justify-content: center;
  display: flex;
  font-weight: 200;
}

.articles__article-card__bottom__date-title__title {
  margin-top: 6px;
  font-family: "Libre Franklin", sans-serif;
  color: #283d4a;
  align-items: center;
  justify-content: center;
  display: flex;
}

/* UTILITY CLASSES */

.letter-spacing {
  letter-spacing: 0.05em;
}
